@import "./variables.scss";

.header {
  align-items: center;
  background: $black;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.3em;
  width: 100vw;
}

.header-title {
  color: $white;
  font-size: 0.8em;
}
